.blog-item {
  list-style-type: none;
  margin: 3px 0;
}

.first-div {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  color: #12022f;
}

.date {
  font-size: 15px;
  color: #9aa5b1;
}

.description {
  font-size: 15px;
  color: #9aa5b1;
}
